.container {
  min-height: 75vh;
}

p {
  margin-bottom: .3rem;
}

span {
  font-style: italic;
}


/* 
==============
ERROR PAGE
==============
*/

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  hero input styling */
.input-form {
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

/* 
==============
HERO PAGE
==============
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
==============
ABOUT PAGE
==============
*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.info-icon {
  transform: translateY(-3px);
  color: var(--warning)
}

/* 
====================
COLLAPSE
=====================
*/
@media only screen and (min-width: 768px) {

  .custom-toggler {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
  }

  .custom-toggler li {
    margin-right: .7rem;
  }
}

.input-group-text {
  width: 5rem;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .input-group-text {
    width: 8rem;
  }
}



.collapse-container {
  max-width: var(--breakpoint-md);
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0;
}


/*  collapse options btns */
.options-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 1rem 0;
}

.options-btn-container button {
  margin-right: 0.5rem;
}

/* both views */
.no-movies {
  min-height: 60vh;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

/* 
====================
TILES(GRID) VIEW
=====================
*/

.tiles-container {
  display: grid;
  gap: 2rem 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .tiles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1170px) {
  .tiles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tile-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}

.tile-btn-container button {
  min-width: 4rem;
}


/* 
==========================
MOVIE THUMBAIL
==========================
*/
.movieImg-backdrop {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movieImg-img {
  height: 100%;
  transform: scale(1.05);
  transition: all .5s;
  backface-visibility: hidden;
}

.movieImg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--light);

  transition: all .5s;
  opacity: 0;
  backface-visibility: hidden;
}

.movieImg-backdrop:hover>.movieImg-icon {
  opacity: .8;
}

.movieImg-backdrop:hover>.movieImg-img {
  transform: scale(1);
  filter: blur(1px) brightness(60%);
}


/* 
====================
LIST VIEW
=====================
*/
.movie-list {
  width: 100%;
}

.list-btn-container button {
  margin-right: .5rem;
}

@media only screen and (min-width: 768px) {

  .list-group-item {
    display: flex;
    justify-content: space-between;
  }

  .list-btn-container {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

  }

  .list-btn-container button {
    width: 100%;
    margin-bottom: .3rem;
  }

  .list-btn-container li {
    width: 100%;
  }

}

/* 
  ===================
  MEDIA PLAYER MODAL
  ===================
  */
.media-player-container {
  width: 100%;
  height: 100%;
}

.modal-dialog {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 10px;
  right: 10px;
  bottom: 150px;
  width: 90%;
  max-width: 90%;
  background-color: papayawhip;
}

@media only screen and (min-width: 768px) {
  .modal-dialog {
    top: 30px;
    bottom: 30px;
    max-width: 90%;
  }
}

.modal-content {
  height: 100%;
}

/* icons */
.github-icon,
.fb-icon {
  transform: translateY(-3px);
  margin-right: 2px;
}

.yt-icon,
.vimeo-icon {
  position: absolute;
  top: 2px;
  right: 3px;
}

.yt-icon {
  color: brown;
}

.vimeo-icon {
  color: lightskyblue;
}

/* heart icon */
.movie-action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-action-btn span {
  transform: translate(4px, -3px);
  padding-right: 2px;
  height: 1.2rem
}

.movie-action-btn span .active {
  color: palevioletred;
}

/* BS pagination styling reset */
.pagination {
  margin-bottom: 0;
}

.spinner-container {
  height: 72px;
}